body {
    transition: background 0.2s linear;
}

.chat-container {
    border-radius: 10px;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    overflow-y: scroll
}

.other,
.own {
    display: flex;
    flex-shrink: 0
}

.other {
    margin-right: auto
}

.own {
    flex-direction: row-reverse;
    margin-left: auto
}

.position-relative {
    scrollbar-color: #d4aa70 transparent;
    scrollbar-width: thin;
}

.custom-border-top {
    border-top: 2px solid #F8F9FA !important;
}

.custom-border-bottom {
    border-bottom: 2px solid #F8F9FA !important;
}